body{
    background-color: gray;

}
.formulario_add{
    background-color: white;
    border-radius: 5px;
    padding: 0 auto;
    flex-direction: column;
    margin:0 auto; 
    height: 600px;
    width: 40%;
}
.formulario_add input .stock{
    height: 30px;
    width: 30px;
}
.formulario_edit{
    background-color: white;
    border-radius: 5px;
    padding: 0 auto;
    flex-direction: column;
    margin:0 auto; 
    height: 600px;
    width: 40%;
}

